{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Agregar Vehículo{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade show d-block" id="vehiculoModal" tabindex="-1" aria-labelledby="vehiculoModalLabel"
    aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vehiculoModalLabel">Agregar Vehículo</h5>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-dark float-end mt-3">Guardar</button>
                </form>
            </div>
            <div class="modal-footer">
                <a href="{% url 'index' %}" class="btn btn-secondary">Volver a inicio</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}