{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Agregar Vehículo{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade show d-block" id="vehiculoModal" tabindex="-1" aria-labelledby="vehiculoModalLabel"
    aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vehiculoModalLabel">Agregar Vehículo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="window.location.href='{% url 'index' %}'"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}